.list {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    width: 90px;
    padding: 40px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }

  .item {
    padding: 20px;
  }
  
  .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .online {
    background-color: green; /* Kolor dla statusu online */
  }
  
  .offline {
    background-color: red; /* Kolor dla statusu offline */
  }